.box {
    margin: 0px auto;
    width: 70%;
}

.box-chart {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.barscroll {
    overflow:scroll;
}

#colorMain{
  background-color: #008000;
  color: white;

}

.btn {
  background-color: #008000;
  color: white;
}

.chart-block{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
