.box {
    margin: 0px auto;
    width: 70%;
}

.box-chart {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.barscroll {
    overflow:scroll;
}

#colorMain{
  background-color: #008000;
  color: white;

}

.btn {
  background-color: #008000;
  color: white;
}
