.box {
    margin: 0px auto;
    width: 70%;
}

.box-chart {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.barscroll {
    overflow:scroll;
}

#colorMain{
  background-color: #008000;
  color: white;
}


.btn {
  background-color: #008000;
  color: white;
}


#chartdiv1,#chartdiv2,#chartdiv3,#chartdiv4,#chartdiv5,#chartdiv6,#chartdiv7{
    width:100%;
    height:10%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
}

#colorBackgroundAbout {
    background-color: green;
    height: 100%;
}

#backgroundStyle {
    background: #DCDCDC;
    background: linear-gradient(#DCDCDC, #3CB371);
}

#picture img{
    border: 3px solid #ddd;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: auto; /*centralizando imagem*/
}

#picture{
    text-align: center;
}

div h1, #picture h5, .row h5, div p{
    color: white;
    text-align: center;
}

#colorIcon{
    color: #008000;
    background-color: black;
    opacity: 0.7;
}

#Area2 p{
    color: black;
}

.footer {
	position:absolute;
	bottom:0;
	width:100%;
}

/*Cards*/
.w3-card-2 .card{
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
}

.w3-card-2 .cardMenu{
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
}

.w3-card-2 .graph{
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    background-color: white;
    padding-left: 1%;
    padding-bottom: 10%;
    padding-top: 10%;
}
